@@include('./head.html', {title: "슬개골 탈구 검사"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "슬개골 탈구 검사", type: "back"})

    <!-- container -->
    <div class="container container-nopd">

      <div class="result-detail__header">
        <div class="content-header">
          <h2 class="content-header__title3">슬개골 탈구 검사 결과</h2>
        </div>

        <div class="result-detail__content__type4">
          <div class="item">
            <div>
              <span class="key">발생 확률</span>
              <span class="val2">
                <strong class="num">12.51</strong><span class="percent">%</span>
              </span>
            </div>
            <span class="val">2기 이상의 슬개골 탈구발생 가능성이 낮아요</span>
          </div>
        </div>
        
        <div class="result-detail__content__type7">
          <div class="bar">
            <span>양호</span>
            <span>위험</span>
          </div>
          <div class="img">
            <img src="../../assets/images/temp/checkup_result.png" alt="">
          </div>
        </div>

        <div class="result-detail__content__type1">
          <div class="item">
            <strong class="txt2">
              <span class="colorPrimary">쿠키</span>의 슬개골은<br>양호 상태예요.
            </strong>
          </div>
        </div>

        <div class="result-detail__content__type8">
          <p class="tit">정상 ~ 1기</p>

          <ul class="list">
            <li class="item item1">
              <strong class="key">정상</strong>
              <span class="val">인위적인 힘을 가해도 탈구가 발생하지 않음</span>
            </li>
            <li class="item item2">
              <strong class="key">1기</strong>
              <span class="val">인위적인 힘을 가하는 경우에만 탈구됨</span>
            </li>
            <li class="item item3">
              <strong class="key">2기</strong>
              <span class="val">인위적인 힘을 가하는 경우에만 탈구됨</span>
            </li>
            <li class="item item4">
              <strong class="key">3기</strong>
              <span class="val">인위적인 힘을 가하는 경우에만 탈구됨</span>
            </li>
          </ul>

          <div class="info">
            <p>슬개골 탈구 정상~1기에 해당되며, 탈구가 없거나 경미한 상태예요. 슬개골을 인위적으로 누르면 탈구가 발생할 수 있지만 자연적으로 복구되며, 일상 생활 중에는 탈구가 거의 발생하지 않아요.</p>
          </div>

        </div>

      </div>

      <section class="content-section type-line">

        <div class="chart-content__header">
          <div class="title">
            <span class="txt">슬개골 탈구 점수는</span>
            <div class="select-box">
              <button type="button" class="select"
                data-select='{
                  "name": "selectSortPoint",
                  "title" : "타이틀 선택",
                  "option": [
                    {"전체 강아지 중": "val1"},
                    {"동일 나이 강아지 중": "val2"},
                    {"동일 품종 강아지 중": "val3"}
                  ],
                  "btnNo": "true",
                  "value": "val1"
                }'
              >전체 강아지 중</button>
            </div>
          </div>
          <p class="value"><strong class="per">상위 50%</strong>에요.</p>
        </div>

        <div class="chart-content type-bar" data-ref="chartContent1">
          <div class="box">
            <p class="item item1" data-ref="item">
              <span class="name" data-ref="name">쿠키</span>
              <span class="val" data-ref="target">
                <strong class="num" data-ref="valNumber">80</strong><span class="unit">점</span>
              </span>
            </p>
            <p class="item" data-ref="item">
              <span class="name" data-ref="name">전체 강아지 평균</span>
              <span class="val" data-ref="target">
                <strong class="num" data-ref="valNumber">70</strong><span class="unit">점</span>
              </span>
            </p>
          </div>
        </div>
        <script>
          const chartContent1 = new ChartContents({
            target: 'chartContent1',
            max: 100,
            unit: 50,
            unitType: '점',
          });
        </script>

      </section>

      <section class="content-section type-line">

        <section class="content-section2">
          <div class="content-header">
            <h3 class="content-header__title2">이런 증상들을 잘 확인해주세요!</h3>
          </div>
          <ul class="bul-chk__list">
            <li class="bul-chk__item">다리에서 뚝뚝거리는 느낌이 들어요.</li>
            <li class="bul-chk__item">이 가끔 뒷다리를 들고 깽깽이 걸음을 해요.</li>
            <li class="bul-chk__item">걷는 모습이 어딘지 모르게 불편해보여요.</li>
            <li class="bul-chk__item">산책중 이유없이 주저앉는 경우가 있어요.</li>
          </ul>
          <p class="content-etc">
            슬개골 탈구 왜 생기는 건가요?
            <button class="btn-tooltip2" onclick="reasonDetailInfo.show()">상세보기</button>
          </p>
        </section>

        <section class="content-section2">
          <div class="content-header">
            <h3 class="content-header__title2">예상 검사 및 치료 비용이예요.</h3>
          </div>
          
          <div class="result-detail__content__type4">
            <ul>
              <li class="item">
                <span class="key">신체검사</span>
                <span class="desc">다양한 자세에서 관절 조작 및 촉진을 통해 정형외과적 상태를 평가</span>
                <span class="val2">1~5만원 / 10~20분</span>
              </li>
              <li class="item">
                <span class="key">보행 평가</span>
                <span class="desc">걸음걸이, 파행 여부, 파행 위치, 파행 정도를 파악하여 원인 추정</span>
                <span class="val2">1~5만원 / 10분 내외</span>
              </li>
              <li class="item">
                <span class="key">X-ray</span>
                <span class="desc">방사선 영상을 통해 탈구, 기형, 골절 등 관절과 근육에 발생한 문제를 확인</span>
                <span class="val2">5~20만원 / 10~30분</span>
              </li>
              <li class="item">
                <span class="key">슬개골 탈구 수술</span>
                <span class="desc">관절 상태에 따라 다양한 수술 기법으로 탈구를 교정, 입원 및 재활 필요</span>
                <span class="val2">100~300만원 / 7일 내외</span>
              </li>
            </ul>
          </div>
        </section>
        
        <section class="content-section2">
          <div class="content-header">
            <h3 class="content-header__title2">생활 습관만으로도 관리할 수 있어요</h3>
          </div>
          <div class="result-detail__content__type9">
            <ul>
              <li class="item item1">
                <span class="key">발바닥 털 미용</span>
                <span class="val">미끄럽지 않게 발바닥 털을 관리해주세요.</span>
              </li>
              <li class="item item2">
                <span class="key">적정 체중 유지</span>
                <span class="val">과체중은 관절과 허리에 큰 부담을 줘요.</span>
              </li>
              <li class="item item3">
                <span class="key">산책과 운동</span>
                <span class="val">근육량이 많을수록 관절에 가해지는 부담이 적어요.</span>
              </li>
              <li class="item item4">
                <span class="key">과격한 행동 자제</span>
                <span class="val">두발로 서거나 점프하는 경우 탈구가 발생할 수 있어요.</span>
              </li>
              <li class="item item5">
                <span class="key">미끄럼 방지 매트</span>
                <span class="val">바닥에 미끄러지면서 탈구가 발생하는 것을 막아줘요.</span>
              </li>
              <li class="item item6">
                <span class="key">계단 설치</span>
                <span class="val">바닥으로 점프하면서 다리 관절과 디스크에 손상을 줄 수 있어요.</span>
              </li>
            </ul>
          </div>
        </section>

      </section>

      <div class="btn-wrap type-bot">
        <button class="base-btn type1-m">다시 검사하기</button>
      </div>

      <div class="info-ref type2">
        펫케어 비대면 건강검진 결과는 참고용으로만 사용하시기 바랍니다.<br>
        실제 건강 상태에 이상이 있다고 판단되는 경우 동물병원에 방문하여 정확한 진단 및 치료를 받아주세요.<br>
        슬개골 탈구 검사 기능은 (주)십일리터와 제휴하여 제공합니다.
      </div>

    </div>
    <!-- //container -->

    @@include('./botNav.html', {active: ''})

  </div>

  <!-- 슬개골 탈구 왜 생기는 건가요? -->
  <div class="layer-popup type-modal" data-ref="reasonDetailInfo">
    <section class="popup__container">
      <button class="btn-close" onclick="reasonDetailInfo.hide();">닫기</button>
      <div class="popup__contents">
        <h3 class="txt-type colorPrimary">슬개골 탈구 왜 생기는 건가요?</h3>
        <p class="txt-type2">
          많은 강아지들이 슬개골 탈구에 선천적으로 취약한 상태로 태어납니다. 실내에서 생활하는 경우, 미끄럽고 딱딱한 바닥재가 취약한 관절에 더욱 무리를 줍니다. 증상이 발생하면 수술이나 약물, 재활 등을 통해 치료를 시도할 수 있지만, 완치가 어려운 경우가 많으며 치료 후에도 재발 가능성이 있습니다. 관련 증상이 보인다면 병원에서 신속히 검사를 받아보는 것이 권장되며, 조기 진단을 통해 예방 및 관리를 하는 것이 가장 좋습니다.
        </p>
      </div>
    </section>
  </div>
  <script>
    const reasonDetailInfo = new LayerPopup({target: "reasonDetailInfo"});
  </script>
  <!-- //슬개골 탈구 왜 생기는 건가요? -->

</body>
</html>