@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "펫케어", type: "menuBack"})

    <!-- container -->
    <div class="container">

      <div class="coupon__detail">
        <p class="brand"><img src="../../assets/images/icon/brand_homeplus.svg" alt="홈플러스"></p>
        <p class="name">홈플러스 쿠폰</p>
        <p class="point">10,000원</p>
        <div class="barcode">
          <img src="../../assets/images/temp/barcode249x60.jpg" alt="">
        </div>
        <div class="barcode-number">
          <span>1234 5678 1234 5678 1234</span>
          <button class="base-btn type1-xs" onclick="
          navigator.clipboard.writeText('1234 5678 1234 5678 1234').then(
            () => {
              dialog({msg: '바코드 번호가 복사되었습니다.'})
            }
          );">복사</button>
        </div>
        <div class="info">
          <table>
            <colgroup>
              <col style="width: 72px;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">유효기간</th>
                <td>2023년 12월 23일</td>
              </tr>
              <tr>
                <th scope="row">사용처</th>
                <td>홈플러스</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="coupon__info">
        <pre class="coupon__info__content">
          <b>[홈플러스]</b>
          -홈플러스 및 홈플러스 익스프레스 매장 계산대에서 사용 가능
          -임대매장, 상품권 구입은 제외
          -분할 사용 불가, 현금으로 교환 불가
          * 문의처 : 1666-3009
        </pre>
      </div>

    </div>
    <!-- //container --> 

  </div>

</body>
</html>