@@include('./head.html', {title: "쿠폰"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "쿠폰", type: "back"})

    <!-- container -->
    <div class="container">

      <div class="coupon__detail">
        <p class="brand"><img src="../../assets/images/icon/brand_saladpet.svg" alt="셀러드팻"></p>
        <p class="name">샐러드펫 사료 기호성 검사 키트 쿠폰</p>
        <p class="point">30%할인</p>
        <div class="barcode">
          <img src="../../assets/images/temp/barcode249x60.jpg" alt="">
        </div>
        <div class="barcode-number">
          <span>1234 5678 1234 5678 1234</span>
          <button class="base-btn type1-xs" onclick="
          navigator.clipboard.writeText('1234 5678 1234 5678 1234').then(
            () => {
              dialog({msg: '바코드 번호가 복사되었습니다.'})
            }
          );">복사</button>
        </div>
        <div class="info">
          <table>
            <colgroup>
              <col style="width: 72px;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">유효기간</th>
                <td>2023년 12월 23일</td>
              </tr>
              <tr>
                <th scope="row">사용처</th>
                <td>샐러드펫</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="coupon__info">
        <pre class="coupon__info__content">
          쿠폰 단서 조항 쿠폰 단서 조항 쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항
        </pre>
      </div>

    </div>
    <!-- //container --> 

  </div>

</body>
</html>