@@include('./head.html', {title: "쿠폰"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "쿠폰", type: "back"})

    <!-- container -->
    <div class="container">

      <h2 class="content-header__title3">쿠폰 혜택</h2>
      <p class="content-header__desc">펫케어 고객님들께 쿠폰을 드려요!</p>

      <ul class="coupon__list">
        <li>
          <a href="#" class="coupon__item">
            <span class="name">사료 기호성 검사 키트 쿠폰</span>
            <strong class="point">30% 할인</strong>
            <span class="state state-download"><span>다운로드</span></span>
          </a>
        </li>
        <li>
          <a href="#" class="coupon__item">
            <span class="name">온라인 펫 쇼핑몰 쿠폰</span>
            <strong class="point">5,000원</strong>
            <span class="state state-download"><span>다운로드</span></span>
          </a>
        </li>
      </ul>

    </div>
    <!-- //container --> 

  </div>

</body>
</html>