@@include('./head.html', {title: "쿠폰"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "쿠폰", type: "back"})

    <!-- container -->
    <div class="container">

      <h2 class="content-header__title3">쿠폰 안내</h2>

      <ul class="coupon__list">
        <li>
          <div class="coupon__item">
            <span class="brand"><img src="../../assets/images/icon/brand_saladpet.svg" alt="셀러드팻"></span>
            <span class="name">사료 기호성 검사 키트 쿠폰</span>
            <strong class="point">30%할인</strong>
            <span class="state state-download"><span>다운로드</span></span>
          </div>
        </li>
        <li>
          <div class="coupon__item">
            <span class="brand"><img src="../../assets/images/icon/brand_petfriends.svg" alt="펫프렌즈"></span>
            <span class="name">온라인 펫 쇼핑몰 쿠폰</span>
            <strong class="point">5,000원</strong>
            <span class="state state-end"><span>발급<br>완료</span></span>
          </div>
        </li>
      </ul>


      <div class="coupon__info">
        <pre class="coupon__info__content">
          쿠폰 단서 조항 쿠폰 단서 조항 쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항쿠폰 단서 조항 쿠폰 단서 조항
        </pre>
        <div class="btn-wrap">
          <button class="base-btn type1-m">쿠폰 받기</button>
        </div>
        <div class="btn-wrap">
          <button class="base-btn type3-m">발급 완료</button>
        </div>
      </div>

    </div>
    <!-- //container --> 

  </div>

</body>
</html>