@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "펫케어", type: "menuBack"})

    <!-- container -->
    <div class="container">

      <h2 class="content-header__title3">쿠폰 안내</h2>

      <ul class="coupon__list">
        <li>
          <label class="input-chk">
            <input type="radio" name="couponlistItem">
            <span class="coupon__item">
              <span class="brand"><img src="../../assets/images/icon/brand_homeplus.svg" alt="홈플러스"></span>
              <span class="name">홈플러스 쿠폰</span>
              <strong class="point">10,000원</strong>
              <span class="state state-download"><span>다운로드</span></span>
            </span>
          </label>
        </li>
        <li>
          <label class="input-chk">
            <input type="radio" name="couponlistItem">
            <span class="coupon__item">
              <span class="brand"><img src="../../assets/images/icon/brand_homeplus.svg" alt="홈플러스"></span>
              <span class="name">홈플러스 쿠폰</span>
              <strong class="point">10,000원</strong>
              <span class="state state-download"><span>다운로드</span></span>
            </span>
          </label>
        </li>
        <li>
          <label class="input-chk">
            <input type="radio" name="couponlistItem" disabled>
            <span class="coupon__item">
              <span class="brand"><img src="../../assets/images/icon/brand_lottemart.svg" alt="롯데마트"></span>
              <span class="name">롯데마트 쿠폰</span>
              <strong class="point">10,000원</strong>
              <span class="state state-end"><span>발급<br>완료</span></span>
            </span>
          </label>
        </li>
        <li>
          <label class="input-chk">
            <input type="radio" name="couponlistItem" disabled>
            <span class="coupon__item isDisabled">
              <span class="brand"><img src="../../assets/images/icon/brand_emart.svg" alt="이마트"></span>
              <span class="name">이마트 쿠폰</span>
              <strong class="point">10,000원</strong>
              <span class="state state-download"><span>다운로드</span></span>
            </span>
          </label>
          </a>
        </li>
      </ul>

      <div class="coupon__info">
        <pre class="coupon__info__content">
          <b>[홈플러스]</b>
          -홈플러스 및 홈플러스 익스프레스 매장 계산대에서 사용 가능
          -임대매장, 상품권 구입은 제외
          -분할 사용 불가, 현금으로 교환 불가
          * 문의처 : 1666-3009
          
          <b>[롯데마트]</b>
          -매장 직원의 착오로 사용이 어려운 경우, '기프티엘 모바일 금액권'으로 알려주세요.
          -유효기간 이내 사용 가능
          -1회 결제 시 최대 5매까지 사용 가능
          -권면가액 내 여러 번 분할 사용 가능
          -권면가액 이상 구매 시 현금/카드 등 추가 결제 가능
          -타 쿠폰 중복 적용 및 할인상품 추가 할인 가능
          -L.POINT 적립 가능
          -현금 및 지류상품권과 교환 불가
          *고객센터(사용 여부 및 잔액 조회): 1661-8191
          
          <b>[이마트]</b>
          -전국 신세계백화점 상품권샵/이마트 상품권샵에서 종이상품권으로 교환 후 이마트, 신세계백화점, 이마트몰, 신세계몰등의 제휴처에서 사용 가능
          -상품권샵에서 교환하신 신세계 지류상품권의 교환 유효기간은 발행일로부터 5년
          -기업 프로모션 형태의 모바일상품권은 유효기간 연장 및 환불 불가
        </pre>
        <div class="btn-wrap">
          <button class="base-btn type1-m">쿠폰 받기</button>
        </div>
        <div class="btn-wrap">
          <button class="base-btn type3-m">발급 완료</button>
        </div>
      </div>

    </div>
    <!-- //container --> 

  </div>

</body>
</html>