<!-- footer -->
    <footer class="footer">
      <div class="footer-inner">
        <nav class="footer-nav">
          <a href="#" class="footer-nav--link">서비스 이용약관</a>
          <a href="#" class="footer-nav--link">개인정보처리방침</a>
          <a href="#" class="footer-nav--link">상품 이용약관</a>
        </nav>
        <p class="footer-corp">(주)헥토이노베이션</p>
        <div class="footer-info">
          <p class="footer-info--txt">서울특별시 강남구 테헤란로 34길 6 태광타워 12,13층</p>
          <p class="footer-info--txt">사업자등록번호 214-88-39117</p>
        </div>
        <small class="footer-copy">Copyright(C) Hecto Innovation Co., Ltd. All rights reserved.</small>
      </div>
    </footer>
    <!-- //footer -->