<!-- header -->
    <header class="header">
      <div class="header-inner">
        <h1 class="page-title">@@title</h1>
        @@if (type === 'menu' || type === 'menuBack'){<button class="btn-menu" onclick="document.querySelector('.header').classList.toggle('isMenuShow');"><span>메뉴보기</span></button>}
        @@if (type === 'back' || type === 'menuBack' || type === 'backClose'){<button class="btn-back" onclick="history.back()">뒤로가기</button>}
        @@if (type === 'close' || type === 'backClose'){<button class="btn-close">닫기</button>}
        @@if (type === 'set'){<button class="btn-setting">설정</button>}
      </div>

      @@if (type === 'menu' || type === 'menuBack'){@@include('./menu.html')}

    </header>
    <!-- //header -->