<!-- menu -->
      <div class="header-menu">
        <nav class="header-menu__wrap">
          <div class="header-menu__util">
            <a href="#" class="header-menu--login">로그인</a>
          </div>
          <ul class="header-menu__list">
            <li><a href="../insurance/" class="header-menu--item">펫보험</a></li>
            <li><a href="../analysis/" class="header-menu--item">비대면 건강분석</a></li>
            <li><a href="../checkup/" class="header-menu--item">AI슬개골 탈구 검사</a></li>
            <li><a href="../magazine/" class="header-menu--item">펫매거진</a></li>
            <li><a href="../coupon/index_hana.html" class="header-menu--item">쿠폰</a></li>
          </ul>
        </nav>
      </div>
      <!-- //menu -->