@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "기록", type: "back"})

    <!-- container -->
    <div class="container">

      <div class="content-header type-header4">
        <h2 class="content-header__title3">기록 수정하기</h2>
      </div>

      <div class="form-box">
        <div class="form-box__header">
          <p class="form-box__title">산책 장소<span class="form-box__title--opt">(선택)</span></p>
        </div>
        <div class="form-box__inner">
          <div class="input-box">
            <input type="text" class="input-txt" placeholder="산책 장소를 입력해주세요." value="산책 장소">
          </div>
        </div>
      </div>

      <div class="form-box">
        <div class="form-box__header">
          <p class="form-box__title">산책 시간</p>
        </div>
        <div class="form-box__inner">
          <div class="input-box" style="width: 156px; flex: none;">
            <button type="button" class="input-time"
              data-time='{
                "name" : "modWalkTimePicker",
                "title" : "시간",
                "value" : "오후 08:00"
              }'
            >시간을 선택해주세요</button>
          </div>
          <div class="form-box--txt">부터</div>
        </div>
        <div class="form-box__inner">
          <div class="input-box" style="width: 156px; flex: none;">
            <input type="text" class="input-txt" placeholder="분" value="40">
          </div>
          <div class="form-box--txt">분 동안 산책했어요.</div>
        </div>
        <div class="form-box__option">
          <label class="input-chk">
            <input type="checkbox">
            <span>시간 모름</span>
          </label>
        </div>
      </div>

    </div>
    <!-- //container -->

    <div class="btn-wrap type-sticky">
      <button class="base-btn type2-xl">삭제하기</button>
      <button class="base-btn type1-xl">수정하기</button>
    </div>

  </div>

</body>
</html>
