@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "오픈소스 라이센스", type: "back"})

    <!-- container -->
    <div class="container">

      <p class="license-txt">
        라이센스 내용입니다. 라이센스 내용입니다. 라이센스 내용입니다. 라이센스 내용입니다. 라이센스 내용입니다. 라이센스 내용입니다. 라이센스 내용입니다. 라이센스 내용입니다. 
      </p>
      
    </div>
    <!-- //container -->

  </div>

</body>
</html>