@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "공지사항", type: "back"})

    <!-- container -->
    <div class="container">

      <div class="notice-list__body">

        <ul class="notice-list__items">
          <li class="notice-list__box">
            <button class="notice-list__snippet">
              <span class="name">공지사항 공지사항 공지사항</span>
              <span class="date">2023.11.22</span>
            </button>
          </li>
          <li class="notice-list__box">
            <button class="notice-list__snippet">
              <span class="name">공지사항 공지사항 공지사항</span>
              <span class="date">2023.11.22</span>
            </button>
          </li>
          <li class="notice-list__box">
            <button class="notice-list__snippet">
              <span class="name">공지사항공지사항공지사항공지사항공지사항공지사항공지사항공지사항공지사항</span>
              <span class="date">2023.11.22</span>
            </button>
          </li>
          <li class="notice-list__box">
            <button class="notice-list__snippet">
              <span class="name">공지사항 공지사항 공지사항</span>
              <span class="date">2023.11.22</span>
            </button>
          </li>
          <li class="notice-list__box">
            <button class="notice-list__snippet">
              <span class="name">헥토 동물병원</span>
              <span class="date">2023.11.22</span>
            </button>
          </li>
          <li class="notice-list__box">
            <button class="notice-list__snippet">
              <span class="name">공지사항 공지사항 공지사항</span>
              <span class="date">2023.11.22</span>
            </button>
          </li>
        </ul>

      </div>
      
    </div>
    <!-- //container -->

  </div>

</body>
</html>