@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "공지사항", type: "back"})

    <!-- container -->
    <div class="container">

      <div class="notice-detail__header">
        <h3 class="content-header__title7">공지사항 공지사항 공지사항 공지사항 공지사항</h3>
        <div class="notice__info">
          <span class="date">2023.11.22</span>
        </div>
      </div>

      <div class="notice-detail__body">
        <p>
          공지사항 내용입니다. 공지사항 내용입니다.공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다.공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다.공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다.공지사항 내용입니다.
        </p>
      </div>

    </div>
    <!-- //container -->

  </div>

</body>
</html>