@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "앱정보", type: "back"})

    <!-- container -->
    <div class="container">

      <p class="version-txt">
        <span>현재버전</span>
        <strong>2.0.0</strong>
      </p>

      <p class="version-txt">
        <span>최신버전</span>
        <strong>3.0.0</strong>
      </p>

    </div>
    <!-- //container -->

  </div>

</body>
</html>