@@include('./head.html', {title: "푸드"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "푸드", type: "back"})

    <!-- container -->
    <div class="container container-nopd">

      <div class="product-detail__picture">
        <img src="../../assets/images/temp/picture360x360_2.jpg" alt="">
      </div>
      <div class="product-detail__content">
        <div class="product-detail__header">

          <div class="product-detail__title">
            <div class="rank">육포/저키/소시지 1위</div>
            <div class="brand">도그피드(DogFeed)</div>
            <div class="name">DOG FEED 도그피드 치킨&칠면조 울트라 프리미엄 내추럴 밸런스</div>
            <div class="price">
              <span class="num">63,000</span>
              <span class="str">원</span> 
              <span class="divide">/</span>
              <span class="kg">1kg</span>
            </div>
          </div>

          <ul class="product-detail__content__type1">
            <li class="item">
              <div class="box">
                <span class="key">카테고리</span>
                <span class="val">건식사료</span>
              </div>
            </li>
            <li class="item">
              <div class="box">
                <span class="key">주단백질</span>
                <span class="val">돼지고기</span>
              </div>
            </li>
            <li class="item">
              <div class="box">
                <span class="key">기능성</span>
                <span class="val">11개</span>
              </div>
            </li>
          </ul>

          <ul class="product-detail__content__type2">
            <li class="item item1">
              <div class="box">
                <span class="key">급여연령</span>
                <span class="val">초기 성장기(4주)부터 ~ 12주까지</span>
              </div>
            </li>
            <li class="item item2">
              <div class="box">
                <span class="key">사료크기</span>
                <span class="val">큰 알갱이(14mm)</span>
              </div>
            </li>
          </ul>

        </div>

        <section class="content-section type-line">
          <div class="content-header">
            <h3 class="content-header__title2">원재료 구성</h3>
          </div>
          <ul class="product-detail__content__type3">
            <li class="item item1">
              <div class="box">
                <span class="key">안전</span>
                <span class="val">13</span>
              </div>
            </li>
            <li class="item item2">
              <div class="box">
                <span class="key">관심</span>
                <span class="val">22</span>
              </div>
            </li>
            <li class="item item3">
              <div class="box">
                <span class="key">유의</span>
                <span class="val">22</span>
              </div>
            </li>
            <li class="item item4">
              <div class="box">
                <span class="key">미정</span>
                <span class="val">11</span>
              </div>
            </li>
          </ul>
          <div class="btn-wrap">
            <button class="base-btn type2-m" onclick="ingredientsDetail.show();">성분 자세히보기</button>
          </div>
        </section>

        <section class="content-section type-line">

          <div class="content-header">
            <h3 class="content-header__title2">영양 정보</h3>
          </div>

          <section class="product-detail__content__type4">
            <h4 class="title">최소 영양 기준</h4>
            <div class="sub-head">
              <div class="sub-title">
                <span class="str">미국기준</span>
                <span class="state-box">충족</span>
              </div>
              <div class="opt">
                <button class="btn-tooltip" onclick="standardInfo.show();">기준 정보</button>
              </div>
            </div>
            <ul class="list">
              <li class="item">
                <div class="box">
                  <span class="key">단백질</span>
                  <strong class="val state1">충족</strong>
                </div>
              </li>
              <li class="item">
                <div class="box">
                  <span class="key">지방</span>
                  <strong class="val state1">충족</strong>
                </div>
              </li>
              <li class="item">
                <div class="box">
                  <span class="key">칼슘</span>
                  <strong class="val state2">부족</strong>
                </div>
              </li>
              <li class="item">
                <div class="box">
                  <span class="key">인</span>
                  <strong class="val state1">충족</strong>
                </div>
              </li>
              <li class="item">
                <div class="box">
                  <span class="key">칼슘:인</span>
                  <strong class="val state2">부족</strong>
                </div>
              </li>
            </ul>
            <p class="etc">*주단백질 : 돼지고기, 닭고기, 쌀</p>
          </section>

          <section class="product-detail__content__type4">
            <h4 class="title">성분 정보</h4>
            <div class="sub-head">
              <div class="sub-title">
                <span class="str">칼로리</span>
                <span class="state-arw state-arw1">높음</span>
              </div>
            </div>
            <ul class="list list-type2">
              <li class="item">
                <div class="box2">
                  <span class="key">탄수화물</span>
                  <span class="state-arw state-arw1">높음</span>
                </div>
              </li>
              <li class="item2">
                <div class="box2">
                  <span class="key">단백질</span>
                  <span class="state-arw state-arw2">중간</span>
                </div>
              </li>
              <li class="item">
                <div class="box2">
                  <span class="key">지방</span>
                  <span class="state-arw state-arw3">낮음</span>
                </div>
              </li>
            </ul>
          </section>

        </section>

        <section class="content-section type-line">

          <div class="content-header">
            <h3 class="content-header__title2">영양 정보</h3>
          </div>

          <section class="product-detail__content__type4">
            <div class="box">
              <span class="key">칼로리</span>
              <strong class="val">
                <span class="state1">1234</span> kcal / kg
              </strong>
            </div>
            <p class="etc">*주단백질 : 돼지고기, 닭고기, 쌀</p>
          </section>

        </section>

        <section class="content-section type-line">
          <div class="content-header">
            <h3 class="content-header__title2">건강상태별 추천</h3>
          </div>
          <ul class="product-detail__content__type5">
            <li class="item">
              <div class="box">
                <span class="key">임신과 수유</span>
                <span class="val state2">비추천</span>
              </div>
            </li>
            <li class="item">
              <div class="box">
                <span class="key">비만</span>
                <span class="val state1">추천</span>
              </div>
            </li>
            <li class="item">
              <div class="box">
                <span class="key">노령</span>
                <span class="val state1">추천</span>
              </div>
            </li>
          </ul>
        </section>

        <section class="content-section type-line">
          <div class="content-header">
            <h3 class="content-header__title2">하루 권장량</h3>
          </div>
          <div class="product-detail__content__type6">
            <div class="box box-icon1">
              <span class="str">하루에</span>
              <strong class="val">500g, 500kcal</strong>
              <span class="str">섭취하면 돼요</span>
            </div>
            <div class="box box-icon2">
              <span class="str">하루에</span>
              <strong class="val">500g, 500kcal</strong>
              <span class="str">섭취하면 돼요</span>
            </div>
          </div>
          <div class="btn-wrap">
            <button class="base-btn type2-m"
              data-select='{
                "name": "myPetSelect",
                "title" : "다른 아이 선택",
                "type" : "petSelect",
                "option": [
                  {
                    "name" : "구름",
                    "age" : "7",
                    "gender" : "여아",
                    "className": "dog"
                  },
                  {
                    "name" : "후추",
                    "age" : "7",
                    "gender" : "남아",
                    "className": "cat"
                  },
                  {
                    "name" : "후추2",
                    "age" : "7",
                    "gender" : "남아",
                    "className": "cat"
                  }
                ],
                "value" : "구름"
              }'
            >다른 아이로 권장량 확인하기</button>
          </div>
        </section>

        <section class="content-section type-line">
          <div class="content-header">
            <h3 class="content-header__title2">기대효과</h3>
          </div>
          <div class="tag-box">
            <span class="tag-item">지질장애</span>
            <span class="tag-item">당뇨</span>
            <span class="tag-item">위장</span>
            <span class="tag-item">비만</span>
            <span class="tag-item">항산화</span>
            <span class="tag-item">노령</span>
            <span class="tag-item">심장</span>
          </div>
        </section>
      </div>

    </div>
    <!-- //container -->

    @@include('./botNav.html', {active: '4'})

  </div>

  @@include('../html/food/ingredientsDetail.html')
  @@include('../html/food/standardInfo.html')

  <!-- 퍼블 검수 용 -->
  <script>
    const pop = {
      "ingredientsDetail" : ()=>{
        ingredientsDetail.show();
      },
      "standardInfo" : ()=>{
        standardInfo.show();
      },
      "myPetSelect" : ()=>{
        globalObjSetFunc('select');
        globalSelectObj.myPetSelect.createLayer();
      }
    }
    if(Util.getUrlParams().pop) pop[Util.getUrlParams().pop]();
  </script>
  <!-- //퍼블 검수 용 -->

</body>
</html>