@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "펫케어", type: "menuBack"})

    <!-- container -->
    <div class="container">
      
      <div class="base-tab tab-type3" data-ref="insuranceTabContents">
        <ul class="tab__list" role="tablist">
          <li class="tab__item">
            <button
              role="tab"
              aria-selected="true"
              aria-controls="insuranceTabContentsCont2"
            >배상책임 보험</button>
          </li>
          <li class="tab__item">
            <button
              role="tab"
              aria-selected="false"
              aria-controls="insuranceTabContentsCont1"
            >장례비 보장보험</button>
          </li>
        </ul>
      </div>

      <div id="insuranceTabContentsCont1" class="tab__content">
        <div class="insurance__box">
          <h3 class="insurance__title">보장증명서</h3>
          <table class="insurance__table">
            <colgroup>
              <col style="width: 80px;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <th scope="row"><span>이름</span></th>
                <td>김펫케어</td>
              </tr>
              <tr>
                <th scope="row"><span>가입일시</span></th>
                <td>2023.06.23</td>
              </tr>
              <tr>
                <th scope="row"><span>보상내용</span></th>
                <td><span class="colorPoint">반려동물 사망사고 발생시 장례비용 보장</span></td>
              </tr>
              <tr>
                <th scope="row"><span>보상한도</span></th>
                <td>1사망사고당 30만원</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-wrap">
          <button class="base-btn type1-m"
            onclick="layerMsg({
              msg: '보상 신청을 위해<br>상담원과 통화하시겠습니까?',
              type: 'confirm',
              btn: {cancel:'아니오'}
            })"
          >보상 문의하기</button>
        </div>
      </div>

      <div id="insuranceTabContentsCont2" class="tab__content">

        <div class="insurance__box">
          <h3 class="insurance__title">보장증명서</h3>
          <table class="insurance__table">
            <colgroup>
              <col style="width: 80px;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <th scope="row"><span>이름</span></th>
                <td>김펫케어</td>
              </tr>
              <tr>
                <th scope="row"><span>가입일시</span></th>
                <td>2023.06.23</td>
              </tr>
              <tr>
                <th scope="row"><span>보상내용</span></th>
                <td>반려동물 물림사고 견주배상 책임</td>
              </tr>
              <tr>
                <th scope="row"><span>보상한도</span></th>
                <td>최대 100만원</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-wrap">
          <button class="base-btn type1-m"
            onclick="layerMsg({
              msg: '보상 신청을 위해<br>상담원과 통화하시겠습니까?',
              type: 'confirm',
              btn: {cancel:'아니오'}
            })"
          >보상 문의하기</button>
        </div>
      </div>

      <script>
        const insuranceTabContents = new TabContents({target: 'insuranceTabContents'});
      </script>

    </div>
    <!-- //container -->
    
    @@include('./footer.html')

  </div>

  <!-- 퍼블 검수 용 -->
  <script>
    const pop = {
      "msg1" : ()=>{
        layerMsg({
          msg: '보상 신청을 하시려면<br>펫케어 고객센터로 연락해주세요.<br><br><a href="tel:15224958" style="font-size: 20px;">1522-4958</a>',
        });
      },
    }
    if(Util.getUrlParams().pop) pop[Util.getUrlParams().pop]();
  </script>
  <!-- //퍼블 검수 용 -->

</body>
</html>