@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "펫케어", type: "menu"})

    <!-- container -->
    <div class="container container-bg container-main">

      <!-- 등록 전 -->
      <div class="main-top__before">
        <h2 class="main-top__title"><strong>이지윤님</strong> 아이를 등록해주세요!</h2>

        <div class="btn-wrap">
          <button class="base-btn type1-l" onclick="registerMyPet.show();">등록하기</button>
        </div>
      </div>
      <!-- //등록 전 -->

      <!-- 등록 후 -->
      <div class="main-top__after">
        <h2 class="main-top__title2"><strong>이지윤님</strong> 관리할 아이를 선택해주세요!</h2>
        <div class="care-card" data-ref="careCardSlider">
          <div class="swiper-container">
            <div class="swiper-wrapper">

              <!-- 슬라이드 -->
              <div class="swiper-slide">
                <div class="care-card__box">
                  <div class="care-card__snippet">
                    <div class="picture">
                      <img src="../../assets/images/default_picture_80x80.jpg" alt="사진 없을 경우 기본 이미지">
                    </div>
                    <div class="cont">
                      <p class="name">
                        <span>쿠키</span>
                        <!-- 선택 된 상태 isSelect -->
                        <button
                          class="btn-heart isSelect" 
                          onclick="layerMsg({
                            msg: '관리할 아이를 변경하시겠어요?',
                            type: 'confirm',
                            btn: {confirm: '변경하기', cancel: '아니오'},
                            onConfirm: (_this)=>alert('변경'),
                            onCancel: (_this)=>alert('아니오'),
                          });"
                        >선택</button>
                      </p>
                      <p class="age type-m">3살 남아</p>
                      <p class="species">골든 리트리버</p>
                      <p class="b-day">태어난 지 3년 1개월 32일</p>
                    </div>
                    <button class="btn-edit">정보수정</button>
                  </div>
                </div>
              </div>

              <!-- 슬라이드 -->
              <div class="swiper-slide">
                <div class="care-card__box">
                  <div class="care-card__snippet">
                    <div class="picture">
                      <img src="../../assets/images/default_picture_80x80.jpg" alt="사진 없을 경우 기본 이미지">
                    </div>
                    <div class="cont">
                      <p class="name">
                        <span>코코</span>
                        <button
                          class="btn-heart"
                          onclick="layerMsg({
                            msg: '관리할 아이를 변경하시겠어요?',
                            type: 'confirm',
                            btn: {confirm: '변경하기', cancel: '아니오'},
                            onConfirm: (_this)=>alert('변경'),
                            onCancel: (_this)=>alert('아니오'),
                          });"
                        >선택</button>
                      </p>
                      <p class="age type-f">3살 여아</p>
                      <p class="species">골든 리트리버</p>
                      <p class="b-day">태어난 지 3년 1개월 32일</p>
                    </div>
                    <button class="btn-edit">정보수정</button>
                  </div>
                </div>
              </div>

              <!-- 슬라이드 추가 -->
              <div class="swiper-slide">
                <button class="care-card__box">
                  <div class="add-picture add-picture__type2">
                    <div class="add-picture--dog">강아지</div>
                    <div class="add-picture--cat">고양이</div>
                  </div>
                  <strong class="add-txt">추가하기</strong>
                </button>
              </div>

            </div>
          </div>
          <div class="swiper-pagination type-page1"></div>
        </div>
        <script>
          const careCardSlider = slider({target: 'careCardSlider'})
        </script>
      </div>
      <!-- //등록 후 -->

      <!-- 배너 -->
      <div class="main-banner__box">
        <div class="main-banner__row">
          <button class="main-banner__btn main-banner__btn6">
            <strong class="txt1"><span class="colorPrimary">펫</span>보험</strong>
            <span class="txt2">펫장례비와 배상책임을 보장</span>
          </button>
        </div>
        <div class="main-banner__row">
          <button class="main-banner__btn main-banner__btn4">
            <strong class="txt1">비대면 <span class="colorPrimary">건강</span>분석</strong>
            <span class="txt2">간단한 질문으로 건강 솔루션 확인</span>
          </button>
        </div>
        <div class="main-banner__row">
          <button class="main-banner__btn main-banner__btn5"
            onclick="if(Util.deviceChk() === 'isPC') {
              layerMsg({
                msg:'슬개골 탈구 검사 기능은 <br> 모바일에서 사용 가능합니다.'
              })
            }"
          >
            <strong class="txt1"><span class="colorPrimary">AI</span> 슬개골 탈구 검사</strong>
            <span class="txt2">인공지능이 확인해 주는 우리아이의<br>슬개골 탈구와 건강 상태</span>
          </button>
        </div>
      </div>
      <!-- //배너 -->

      <!-- 펫 매거진 -->
      <section>
        <div class="content-header">
          <h3 class="content-header__title2">펫 매거진</h3>
          <div class="content-header__btn">
            <a href="#" class="btn-link">더보기</a>
          </div>
        </div>
        <div class="magazine-list" data-ref="magazineSlider">
          <div class="swiper-container">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="magazine-list__item">
                  <div class="thumb"><img src="../../assets/images/temp/thumb270x140.png" alt=""></div>
                  <div class="txt">
                    <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                    <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="magazine-list__item">
                  <div class="thumb"><img src="../../assets/images/temp/thumb270x140.png" alt=""></div>
                  <div class="txt">
                    <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                    <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="magazine-list__item">
                  <div class="thumb"><img src="../../assets/images/temp/thumb270x140.png" alt=""></div>
                  <div class="txt">
                    <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                    <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <script>
          const magazineSlider = slider({target: 'magazineSlider', option: {
            slidesPerView: "auto",
            spaceBetween: 16,
          }})
        </script>
      </section>
      <!-- //펫 매거진 -->
      
      <section>
        <div class="content-header">
          <h3 class="content-header__title2">알림 있어요!</h3>
        </div>
        <div class="main-banner__noti">
          <div class="main-banner__noti__row">
            <a href="#"><img src="../../assets/images/temp/banner328x112_2.png" alt="배너 이미지1"></a>
          </div>
        </div>
      </section>

    </div>
    <!-- //container -->
    
    @@include('./footer.html')

  </div>

  <!-- 퍼블 검수 용 -->
  <script>
    const pop = {
      "msg1" : ()=>{
        layerMsg({
          msg: '탈구 진단은 강아지만 가능해요.<br> 강아지를 등록 후 다시 시도해주세요.'
        });
      },
      "msg2" : ()=>{
        layerMsg({
          msg: '펫은 최대 5마리까지<br>등록 가능해요.'
        });
      }
    }
    if(Util.getUrlParams().pop) pop[Util.getUrlParams().pop]();
  </script>
  <!-- //퍼블 검수 용 -->

</body>
</html>