@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "펫케어", type: "close"})

    <!-- container -->
    <div class="container">

      <div class="error__wrap">
        <p class="error--txt">
          서비스 이용에 불편을 드려 죄송합니다.<br>
          아래 버튼을 눌러 서비스를<br>
          다시 이용해주세요.<br>
        </p>
        <a href="#" class="base-btn type3-s">홈으로 가기</a>
      </div>


    </div>
    <!-- //container -->

    <p class="error--contact">펫케어 고객센터 : <a href="tel:15220636">1522-0636</a></p>

  </div>

</body>
</html>