@@include('./head.html', {title: "플레이스"})
<body>

  <div class="wrap">

    <!-- container -->
    <div class="container">

      <div class="splash__wrap">
        <p class="splash--title">
          <span class="txt1">반려동물 종합 서비스</span>
          <span class="txt2">펫케어</span>
        </p>
        <ul class="splash__benefit__list">
          <li class="splash__benefit--item">매월 주는 쇼핑 쿠폰</li>
          <li class="splash__benefit--item">내주변 병원과 진료비 정보</li>
          <li class="splash__benefit--item">동반가능 플레이스 추천</li>
          <li class="splash__benefit--item">부위별 건강 분석</li>
          <li class="splash__benefit--item">사료와 간식 분석</li>
          <li class="splash__benefit--item">매주 업데이트 되는 매거진</li>
        </ul>
      </div>
      
    </div>
    <!-- //container -->

    <div class="btn-wrap type-sticky">
      <button class="base-btn type1-xl">시작하기</button>
    </div>

  </div>

</body>
</html>