@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap" data-ref="pinNumberWrap">

    <!-- container -->
    <div class="container">

      <p class="pin-number__text" data-ref="pinNumberText">비밀번호를<br>입력해주세요</p>

      <div class="pin-number__password" data-ref="pinNumberPassword">
        <div class="number-box" data-ref="pinNumberBox">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
        <p class="msg">비밀번호가 일치하지 않습니다.</p>
      </div>

    </div>

    <div class="pin-number__keypad" data-ref="pinNumberKeypad">
    </div>

  </div>
  <!-- //container -->

  <script src="../../assets/js/pinNumber.js"></script>
  <script>
    const pinNumber = new InputPinNumber({wrap: 'pinNumberWrap'});

    // 퍼블 확인 용
    let samplePass = [0,0,0,0,0,0];
    let errorCount = 0;
    pinNumber.onConfirm(_this=>{
      if(samplePass.every((value, idx) => value === _this.password[idx])) {
        alert('확인');
      } else {
        if(errorCount < _this.errorChk) {
          errorCount++;
          _this.reset();
          _this.passwordWrap.classList.add('isError');
        } else {
          layerMsg({
            msg: '비밀번호 입력에 실패하였습니다.<br>정보입력을 다시 진행해주세요.',
            onConfirm: (_this)=>window.location.href = window.location.href
          });
        }
      }
    });
  </script>
  
</body>
</html>