<!-- 상세조회 -->
<div class="layer-popup type-full" data-ref="missingDetail">
  <section class="popup__container">
    <div class="popup__header">
      <button class="btn-close" onclick="missingDetail.hide();">닫기</button>
      <h3 class="popup__title">구조 동물</h3>
    </div>
    <div class="popup__contents contents-nopd">
      
      <div class="missing-detail__picture">
        <img src="../../assets/images/temp/picture360x360.jpg" alt="">
      </div>
      <div class="missing-detail__content">
        <div class="state-type">
          <span class="state">공고중</span>
          <span class="type dog">믹스견</span>
        </div>
        <div class="tag-box">
          <span class="tag-item">남</span>
          <span class="tag-item">중성화 O</span>
          <span class="tag-item">갈색</span>
        </div>
        <div class="list">
          <p class="row">
            <strong class="key">공고번호</strong>
            <span class="val">서울-종로-2023-0015</span>
          </p>
          <p class="row">
            <strong class="key">공고기간</strong>
            <span class="val">23.01.01 ~ 23.01.31</span>
          </p>
          <p class="row">
            <strong class="key">발견장소</strong>
            <span class="val">서울시 강남구​</span>
          </p>
          <p class="row">
            <strong class="key">보호센터</strong>
            <span class="val">
              한국동물구조관리협회<br>
              031-123-4567
            </span>
          </p>
          <p class="row">
            <strong class="key">유기번호</strong>
            <span class="val">000000000000000</span>
          </p>
          <p class="row">
            <strong class="key">특징</strong>
            <span class="val">특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.특징입니다. 특징입니다.</span>
          </p>
        </div>
      </div>

    </div>
  </section>
</div>
<script>
  const missingDetail = new LayerPopup({target: "missingDetail"});
</script>
<!-- //상세조회 -->