@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "동물 등록번호", type: "back"})

    <!-- container -->
    <div class="container">

      <h2 class="content-header__title3">
        고객님의 이름과<br>
        아이의 등록번호를 입력해주세요
      </h2>
      <p class="content-header__desc">동물등록번호 인증을 위해 PASS 인증이 필요해요.</p>

      <div class="form-box form-box__type1">
        <div class="form-box__header">
          <p class="form-box__title">소유자 이름</p>
        </div>
        <div class="form-box__inner">
          <div class="input-box">
            <input type="text" class="input-txt" placeholder="이름을 입력해주세요.">
          </div>
        </div>
      </div>
      <div class="form-box">
        <div class="form-box__header">
          <p class="form-box__title">동물등록번호</p>
        </div>
        <div class="form-box__inner">
          <div class="input-box">
            <input type="text" class="input-txt" placeholder="동물등록번호 14자리를 입력해주세요.">
          </div>
        </div>
      </div>

    </div>
    <!-- //container -->

    <div class="btn-wrap type-sticky">
      <button class="base-btn type1-xl">PASS 인증 요청</button>
    </div>

  </div>

</body>
</html>