@@include('./head.html', {title: "펫케어"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "펫케어", type: "back"})

    <!-- container -->
    <div class="container">

      <h3 class="content-header__title3">등록할 아이를 선택해주세요.</h3>

      <div class="form-box form-box__type1">
        <div class="form-box__header">
          <p class="form-box__title">동물등록번호</p>
        </div>
        <div class="form-box__inner">
          <div class="select-box">
            <button type="button" class="select"
              data-select='{
                "name": "petNumberSelect2",
                "title" : "동물등록번호 선택",
                "option": [
                  {"쿠키 / 남아 / 000000000000000000000000000000 ": "val1"},
                  {"쿠키 / 남아 / 200000000000000 ": "val2"},
                  {"쿠키 / 남아 / 300000000000000 ": "val3"},
                  {"쿠키 / 남아 / 400000000000000 ": "val4"}
                ],
                "value" : "val1"
              }'
            >동물등록번호를 선택해주세요</button>
          </div>
        </div>
      </div>

      <div class="base-tab base-tab__type1 tab-type4" data-ref="petNumberTabContents">
        <ul class="tab__list" role="tablist">
          <li class="tab__item isActive">
            <button
              role="tab"
              aria-selected="true"
              aria-controls="petNumberTabContentsCont1"
            >새로 등록하기</button></li>
          <li class="tab__item">
            <button
              role="tab"
              aria-selected="false"
              aria-controls="petNumberTabContentsCont2"
            >등록한 정보 불러오기</button></li>
        </ul>
      </div>

      <div class="tab__content" id="petNumberTabContentsCont1">
        <div class="form-box form-box__type1">
          <div class="form-box__header">
            <p class="form-box__title">우리 아이는</p>
          </div>
          <div class="form-box__inner">
            <label class="base-chk pet-type">
              <input type="radio" name="typePet" checked>
              <span class="base-btn type2-l type-dog">
                강아지
              </span>
            </label>
            <label class="base-chk pet-type">
              <input type="radio" name="typePet">
              <span class="base-btn type2-l type-cat">
                고양이
              </span>
            </label>
          </div>
        </div>

        <div class="form-box">
          <div class="form-box__header">
            <p class="form-box__title">이름</p>
          </div>
          <div class="form-box__inner">
            <div class="input-box">
              <input type="text" class="input-txt" value="쿠키" placeholder="이름을 입력해주세요." disabled>
            </div>
          </div>
        </div>

        <div class="form-box">
          <div class="form-box__header">
            <p class="form-box__title">생년월일</p>
          </div>
          <div class="form-box__inner">
            <div class="input-box">
              <input type="text" class="input-txt" placeholder="년(4자)">
            </div>
            <div class="input-box">
              <input type="text" class="input-txt" placeholder="월">
            </div>
            <div class="input-box">
              <input type="text" class="input-txt" placeholder="일">
            </div>
          </div>
          <p class="form-box--msg">*정확한 생일을 모르시면 월까지만 입력해주세요</p>
        </div>
        
        <div class="form-box">
          <div class="form-box__header">
            <p class="form-box__title">성별</p>
          </div>
          <div class="form-box__inner">
            <label class="base-chk">
              <input type="radio" name="typeGender" checked>
              <span class="base-btn type2-l">
                남자아이
              </span>
            </label>
            <label class="base-chk">
              <input type="radio" name="typeGender">
              <span class="base-btn type2-l">
                여자아이
              </span>
            </label>
          </div>
          <div class="form-box__option">
            <label class="input-chk">
              <input type="checkbox" checked>
              <span>중성화했어요</span>
            </label>
          </div>
        </div>
        
        <div class="form-box">
          <div class="form-box__header">
            <p class="form-box__title">품종</p>
          </div>
          <div class="form-box__inner">
            <div class="select-box">
              <button type="button" class="select"
                disabled
                data-select='{
                  "name": "petTypeSelectNumber",
                  "title" : "품종 선택",
                  "option": [
                    {"푸들": "val1"},
                    {"웰시코기": "val2"},
                    {"리트리버1": "val3"},
                    {"리트리버2": "val4"},
                    {"리트리버3": "val5"},
                    {"리트리버4": "val6"},
                    {"리트리버5": "val7"},
                    {"리트리버6": "val8"},
                    {"리트리버7": "val9"},
                    {"리트리버8": "val10"},
                    {"리트리버9": "val11"}
                  ],
                  "value" : "val1"
                }'
              >품종을 선택해주세요</button>
            </div>
          </div>
        </div>

        <div class="form-box">
          <div class="form-box__header">
            <p class="form-box__title">체중</p>
          </div>
          <div class="form-box__inner">
            <div class="input-box" style="width: 156px;">
              <input type="number" class="input-txt" placeholder="체중">
            </div>
            <span class="input-unit">kg</span>
          </div>
        </div>
      </div>

      <div class="tab__content" id="petNumberTabContentsCont2">

        <ul class="pet-select__list">
          <li class="pet-select__item">
            <label class="input-chk">
              <input type="radio" name="petNumberChkRadio">
              <span class="box">
                <span class="name">쿠키</span>
                <span class="type">
                  <span class="age">7살</span>
                  <span class="divide">/</span>
                  <span class="weight">5kg</span>
                </span>
              </span>
            </label>
          </li>
          <li class="pet-select__item">
            <label class="input-chk">
              <input type="radio" name="petNumberChkRadio">
              <span class="box">
                <span class="name">김수한무거북이와두루미삼천갑자동방삭치치카포사리사리센타워리워리세브리깡무두셀라구름이허리케인에담벼락담벼락에서생원서생원에고양이고양이엔바둑이바둑이는돌돌이</span>
                <span class="type">
                  <span class="age">7살</span>
                  <span class="divide">/</span>
                  <span class="weight">5kg</span>
                </span>
              </span>
            </label>
          </li>
          <li class="pet-select__item">
            <label class="input-chk">
              <input type="radio" name="petNumberChkRadio">
              <span class="box">
                <span class="name">후추2</span>
                <span class="type">
                  <span class="age">7살</span>
                  <span class="divide">/</span>
                  <span class="weight">5kg</span>
                </span>
              </span>
            </label>
          </li>
        </ul>

      </div>

      <script>
        const petNumberTabContents = new TabContents({target: 'petNumberTabContents'});
      </script>

    </div>
    <!-- //container -->

    <div class="btn-wrap type-sticky">
      <button class="base-btn type1-xl">등록하기</button>
    </div>

  </div>

</body>
</html>