@@include('./head.html', {title: "매거진"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "매거진", type: "back"})

    <!-- container -->
    <div class="container container-nopd">

      <div class="magazine-detail">
        <div class="magazine-detail__header">
          <h2 class="magazine-detail__title">반려동물의 계절성 알레르기와 건강</h2>
        </div>
        <div class="magazine-detail__contents">
          <div class="img"><img src="../../assets/images/temp/thumb320x180.png" alt=""></div>
          <p class="txt">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기에는 더욱 심해진다. 강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기에는 더욱 심해진다.강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기에는 더욱 심해진다.강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기에는 더욱 심해진다.강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기에는 더욱 심해진다.강아지와</p>
        </div>
      </div>

      <section class="content-section type-line">
        <div class="content-header type-header3">
          <h3 class="content-header__title4">다른 매거진 보기</h3>
        </div>
        <div class="magazine-list">
          <ul>
            <li class="magazine-list__item3">
              <a href="#">
                <div class="thumb"><img src="../../assets/images/temp/thumb108x108.png" alt=""></div>
                <div class="txt">
                  <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                  <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
                </div>
              </a>
            </li>
            <li class="magazine-list__item3">
              <a href="#">
                <div class="thumb"><img src="../../assets/images/temp/thumb108x108.png" alt=""></div>
                <div class="txt">
                  <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                  <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
                </div>
              </a>
            </li>
            
          </ul>
        </div>
      </section>

    </div>
    <!-- //container --> 

  </div>

</body>
</html>