@@include('./head.html', {title: "매거진"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "매거진", type: "back"})

    <!-- container -->
    <div class="container">

      <div class="magazine-list">
        <ul>
          <li class="magazine-list__item2">
            <a href="#">
              <div class="thumb"><img src="../../assets/images/temp/thumb320x140.png" alt=""></div>
              <div class="txt">
                <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
              </div>
            </a>
          </li>
          <li class="magazine-list__item2">
            <a href="#">
              <div class="thumb"><img src="../../assets/images/temp/thumb320x140.png" alt=""></div>
              <div class="txt">
                <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
              </div>
            </a>
          </li>
          <li class="magazine-list__item2">
            <a href="#">
              <div class="thumb"><img src="../../assets/images/temp/thumb320x140.png" alt=""></div>
              <div class="txt">
                <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
              </div>
            </a>
          </li>
          
          <li class="magazine-list__item3">
            <a href="#">
              <div class="thumb"><img src="../../assets/images/temp/thumb108x108.png" alt=""></div>
              <div class="txt">
                <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
              </div>
            </a>
          </li>
          <li class="magazine-list__item3">
            <a href="#">
              <div class="thumb"><img src="../../assets/images/temp/thumb108x108.png" alt=""></div>
              <div class="txt">
                <p class="txt1">반려동물의 계절성 알레르기와 건강반려동물의 계절성 알레르기와 건강</p>
                <p class="txt2">강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기강아지와 고양이도 인간과 같이 계절성 알레르기로 고생하는경우가 있다. 특히 환절기</p>
              </div>
            </a>
          </li>
          
        </ul>
      </div>

    </div>
    <!-- //container --> 

    @@include('./botNav.html', {active: ''})

  </div>

</body>
</html>