@@include('./head.html', {title: "건강 분석"})
<body>

  <div class="wrap">
    
    @@include('./header.html', {title: "건강 분석", type: "back"})

    <!-- container -->
    <div class="container">

      <section class="result-detail__contents2">
        <h3 class="content-header__title">푸들이 선천적으로 취약한 부위예요</h3>
        <p class="content-header__desc">반려동물은 품종마다 유전적으로 취학한 부위가 존재해요. 건강 분석 결과가 양호해도 미리 신경을 써주면 좋아요.</p>

        <div class="result-detail__content__type4">
          <ul>
            <li class="item">
              <strong class="key">간</strong>
              <span class="val">소엽성 박리 감염, 담석증</span>
            </li>
            <li class="item">
              <strong class="key">위/장</strong>
              <span class="val">출혈성 위장관염, 위염전​</span>
            </li>
            <li class="item">
              <strong class="key">신장/방광</strong>
              <span class="val">요로 결석증​</span>
            </li>
            <li class="item">
              <strong class="key">눈</strong>
              <span class="val">각막 궤양​</span>
            </li>
            <li class="item">
              <strong class="key">피부/귀</strong>
              <span class="val">외이도염, 지간염, 아토피​</span>
            </li>
          </ul>
        </div>
      </section>

    </div>
    <!-- //container -->

  </div>

</body>
</html>